*.o
*.a
*.lib

thirdparty/lua/lua
thirdparty/lua/lua.exe
thirdparty/lua/luac
thirdparty/lua/luac.exe

sources/lua_modules.c
sources/lua_modules.h
sources/lua_scripts.c
sources/lua_scripts.h

paper-folder
paper-folder.exe

.vscode/

assets/problem1.svg